@charset "UTF-8";

.btnss{
	display:inline-block;
	height:34px;
	font-size:0.87rem;
}

.m-left{
	margin-left:2px
}
.hide-m{
	display:none;
}
.hide-check{
	display:none;
}
.hide-mm{
	display:none;
}
.hide-del{
	display:none;
}
.motai{
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:black;
	opacity:0.5;
	z-index:100;
}

.mt-insert{
	position:fixed;
	top:50%;
	left:50%;
	margin-top:-300px;
	margin-left:-200px;
	width:500px;
	height:600px;
	border-radius:10px;
	background-color:white;
	z-index:101;
}
.mt-check{
	position:fixed;
	top:10%;
	left:50%;
	margin-left:-200px;
	width:500px;
	min-height:600px;
	border-radius:10px;
	background-color:white;
	z-index:199;
}
.x-btn{
	margin-top:-10px;
	margin-left:485px;
	width:25px;
	height:25px;
	border-radius:50%;
	background-color:black;
	line-height:25px;
	text-align:center;
	opacity:0.7;
	color:white;
}